
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

* {
    font-family: 'Manrope', sans-serif;
}

body {
    margin: 0;
}

.header-base {
    display: flex;
    justify-content: space-between;
    background-color: #e94154;
    width: 100%;
    height: 100%;
    color: white;
    
}

.header-contact {
    padding: 20px;
}

.material-symbols-outlined {
    margin: 10px;
}

.contact-number {
    color: white;
    text-decoration: none;
}

.contact-number a span {
    vertical-align: middle;
}

.header-info p {
    align-self: center;
}



.header-dropdown {
    margin-top: 20px;
}

#language, #location {
    border: none;
    background-color: #e94154;
    margin: 10px;
    color: white;
}

.shopping-cart {
    background-color: white;
    width: 100px;
}

nav {
    display: flex;
    justify-content: space-around;
}

.search-bar {
    border-radius: 10px;
    background-color: rgb(245, 239, 239);
    border: none;
    position: relative;
    margin-top: 20px;
}

.navbar-options {
    margin-top: 20px;
}